/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/* Compiles to: css/main.css */

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: default;
}

/* Target ONLY cse-ui-matrix contained elements */

#mehuge-bct {

  .slots {
    width: 320px;
    height: 100px;

    .slot {
      position: relative;
      width: 60px;
      margin: 0 2px;
      height: 100%;
      float: left;

      .sprite {
        position: absolute;
        width: 100%;
        color: white;
      }
      .self.damage {
        color: white;
      	font-size: 16pt;
      }
      .self.damage.part-0 {
        color: rgb(240,240,240);
      }
      .self.damage.part-1 {
        color: rgb(220,220,220);
        font-size: 12pt;
      }
      .self.damage.part-2 {
        color: rgb(200,200,200);
        font-size: 10pt;
      }
      .self.heal {
        color: rgb(0,255,0);
      	font-size: 12pt;
      }
      .self.stamina {
        color: rgb(0, 208, 255);
        font-size: 14pt;
      }
      .self.stamina.recover {
        color: rgb(76, 255, 0);
        font-size: 9pt;
        opacity: 0.4;
      }
      .friendly.damage {
        color: rgb(255, 106, 0);
        font-size: 14pt;
      }
      .friendly.heal {
        color: rgb(0,255,0);
        font-size: 8pt;
        opacity: 0.7;
      }
      .enemy.damage {
        color: red;
        font-size: 18pt;
      }
      .enemy.heal {
        color: rgb(0,255,0);
        font-size: 8pt;
        opacity: 0.7;
      }
      .center {
        text-align: center;
      }
      .left {
        text-align: left;
      }
      .right {
        text-align: right;
      }
    }
  }
  .alert {
    font-size: 16pt;
    width: 100%;
    text-align: center;
    .msg {
      font-weight: bold;
      position: absolute;
      opacity: 0.8;
    }
    .health { color: rgb(0, 255, 0); }
    .target { color: rgb(255, 0, 0); }
    .stamina { color: rgb(0, 208, 255); }
    .friendly { color: yellow; }
  }
}
